body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#heading {
  display: flex;
}

h1 {
  margin: 0;
}

#addbutton {
  float: right;
  margin-left: 2rem;
}

#nav-button {
  font-weight: 500;
  font-size: large;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul {
  padding-left: 1rem;
  list-style-type: none;
}

li {
  padding-left: 8px;
}
